@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");
.footer{
  font-family: "Noto Serif Display", serif;
  font-weight: 300;
  text-align: center;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    height:auto;
    font-size: 16px;
  background-color: black;
  padding: 60px;
}